@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: "Rosmatica";
    src: url(../../rosmatika-font/RosmatikaRegular-BWA45.ttf);
}

$theme-colors:
    $purple;

$primary: $pink;
$secondary: $indigo;
$cta: $blue;
    
.profile {
    width: 120px;
    height: 160px;
    border-radius: 50%;
}

.post-img {
    width: 50px;
    height: 70px;
    border-radius: 60%; 
}

body {
    background-color: $theme-colors;
}

h1,
h3 {
    font-family: "Rosmatica";
}

a {
    text-decoration: none;
    color: black;
}
